/* /src/app/styles/formivarn.module.css */

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box; /* better than content-box in most layouts */
  width: 70px;
  left: 0;
  padding: 10px;
  position: fixed;
  z-index: 97;
  border-bottom: 1px solid var(--border1-color);
  background: var(--primary2-color);
  
  overflow: hidden;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 24px;
  width: 50px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  
  background-color: var(--nav-color);
}

  .link {
    color: var(--font1-color);
    height: 50px;
    width: 80px;
    border-radius: 25%;
    gap: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    background: var(--color-button);
    overflow: hidden;
  }
  
  .link:hover {
    color: #c084fc; /* purple-400 */
  }
  
  