/* src/app/styles/races.module.css */

.racesContainer {
  background-color: var(--seconday-color);
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  width: 100vw;
  padding: 10px;
  position: fixed;
  z-index: 98;
  border-bottom: 1px solid var(--border1-color); /* gray-700 */
  background: var(--primary2-color); /* gray-900 */
  height: 69px;

}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 24px;
  font-size: 14px;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  height: 50px;
  background-color: var(--nav-color);
}

  .link {
    color: var(--font1-color);
    height: 50px;
    width: 80px;
    border-radius: 25%;
    gap: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    background: var(--color-button);
    overflow: hidden;
  }
  
  .link:hover {
    color: #c084fc; /* purple-400 */
  }
  
  .main {
    margin-top: 70px;
    padding-top: 10px; 
    padding: 20px;
    background-color: var(--mainbg1-color);
    font-family: Arial, sans-serif;
  }