@import "tailwindcss";
@import "tw-animate-css";
*, *::before, *::after {
  box-sizing: border-box;
}


:root {
    --primary1-color: rgb(10, 0, 50);
    --primary2-color: rgb(10, 0, 75);
    --primary3-color:rgb(2, 54, 54);
    --nav-color: rgb(10, 75, 10);
    --nav2-color: rgb(10, 200, 10);
    --button-color: rgb(20, 100, 20);
    --button2-color: rgb(20, 200, 20);
    --font1-color: rgb(160, 200, 216);
    --font2-color: rgb(0, 0, 0);
    --font3-color: rgb(194, 111, 3);
    --font4-color: rgb(158, 144, 13);
    --black1-color: rgb(0, 0, 0);
    --black2-color: rgb(25, 25, 25);
    --black3-color: rgb(50, 50, 50);
    --black4-color: rgb(75, 75, 75);
    --color1-color: rgb(100, 100, 100);
    --border1-color: rgb(7, 122, 113);
    --color-navbg:var(--black1-color)
}



