@import "tailwindcss";
@import "tw-animate-css";

:root {
    --color-primary: #0070f3;
    --color-secondary: #1db954;
    --color-accent: #f5a623;
    --color-bg: #ffffff;
    --color-text: #333333;
    --main-color: rgb(0, 0, 0);
    --secBg-color: rgb(250, 175, 225);
    --secBg2-color: rgb(250, 100, 225);
    --mainbg1-color: rgb(100, 150, 250);
    --mainbg2-color: rgb(50, 125, 250);
    --border1-color: rgb(125, 125, 100);
    --border2-color: rgb(125, 125, 125);
    --main4-color: rgb(250, 175, 225);
}


